export JWT_SECRET=
export JWT_ISSUER=
export MONGO_USERNAME=
export MONGO_PASSWORD=
export MONGO_HOST=127.0.0.1
export MONGO_PORT=27017
export MONGO_DATABASE=
export REDIS_HOST=127.0.0.1
export REDIS_PORT=6379
export REDIS_PASS=
export NODE_ENV=development
export API_VERSION=v1
export PORT=8080