export JWT_SECRET=
export JWT_ISSUER=
export MONGO_USERNAME=
export MONGO_PASSWORD=
export MONGO_HOST=
export MONGO_PORT=
export MONGO_DATABASE=
export NODE_ENV=development
export API_VERSION=v1
export PORT=8080